*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:'Roboto, sans-serif;
}
section{
	position:relative;
	width: 100%;
	height: 100vh;
	display:flex;
}
section .img-bg{
	position:relative;
	width:50%;
	height: 100%;
}
section .img-bg img{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit: cover;
}
section .information{
	display:flex;
	justify-content:center;
	align-items:center;
	width:50%;
	height:100%;
}
section .information .form{
	width:50%;
}

section .information .form .input-form{
	margin-bottom: 20px;
}
section .information .form .input-form{
     margin-bottom: 20px;
 }
section .information .form .input-form span{
     font-size: 16px;
     margin-bottom: 5px;
     display: inline-block;
     color: #607db8;
     letter-spacing: 1px;
      }
section .information .form .input-form input{
     width: 100%;
     padding: 10px 20px;
     outline: none;
     border: 1px solid #607d8b;
     font-size: 16px;
     letter-spacing: 1px;
     color: #607d8b;
     background: transparent;
     border-radius: 30px;
     }
 section .information .form .input-form input[type="submit"]{
     background: #dfb47d;
     color: rgb(0, 0, 0);
     outline: none;
     border: none;
     font-weight: 500;
     cursor: pointer;
     box-shadow: 0 1px 1px rgba(0,0,0,0.12),
                0 2px 2px rgba(0,0,0,0.12),
                0 4px 4px rgba(0,0,0,0.12),
               0 8px 8px rgba(0,0,0,0.12),
               0 16px 16px rgba(0,0,0,0.12);
 }
 section .information .form .input-form button{
	background: #dfb47d;
	color: rgb(0, 0, 0);
	outline: none;
	border: none;
	font-weight: 500;
	cursor: pointer;
	box-shadow: 0 1px 1px rgba(0,0,0,0.12),
			   0 2px 2px rgba(0,0,0,0.12),
			   0 4px 4px rgba(0,0,0,0.12),
			  0 8px 8px rgba(0,0,0,0.12),
			  0 16px 16px rgba(0,0,0,0.12);
}
section .information .form .input-form input[type="submit"]:hover{
     background: #dfb47d;
 }
 section .information .form .remember{
     margin-bottom: 10px;
     color: #607d8b;
     font-size: 14px;
 }
 section .information .form .input-form p{
     color: #607d8b;
 }
section .information .form .input-form p a{
     color: #dfb47d;
 }
@media(max-width: 768px){
	section .img-gb{
		position: absolute;
		top:0 ;
		left: 0;	
		width: 100%;
		height: 100%;
	}
	section .information{
		display: flex;
		justify-content: center;
		align-items: center;
		width:100%;
		height: 100%;
		z-index: 1;
	}
	section .information .form{
		width:100%;
		padding: 40px;
		background: rgba(255, 255, 255, 0.9);
		margin: 50px;
	}